# from dovydas
data/raw/playlists/*
!data/raw/playlists/README.md

# from laura
.DS_Store
data/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/processed/playlists1000000.pkl
!data/processed/unique_track_ids1000000.pkl
!data/processed/playlists_overview1000000.pkl
!data/processed/playlists_metrics1000000.pkl

# from lennart
notebooks/cached_files/
**/__pycache__
**/.DS_Store